div.gameDiv {
  display: grid;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  grid-template-areas:
    "pselect pselect side"
    "game g_ side"
    "game g_ _"
    "completed completed completed";
  grid-template-rows: max-content max-content 1fr min-content;
  grid-template-columns: min-content max-content max-content;
  justify-content: space-between;

  & .playerSelection {
    grid-area: pselect;
    width: max-content;
  }
  & table.game {
    grid-area: game;
  }
  & table:not(.game) {
    grid-area: side;
  }
  & .completed {
    grid-area: completed;
  }
}
