div.gameDiv {
  display: grid;
  width: max-content;
  grid-template-areas:
    "pselect side"
    "game side"
    "game _";
  grid-template-rows: max-content max-content 1fr;
  grid-template-columns: max-content max-content;

  & .playerSelect {
    grid-area: pselect;
    width: max-content;
  }
  & table.game {
    grid-area: game;
  }
  & table:not(.game) {
    grid-area: side;
  }
}
