table#gameSummaryEntryTable {
  font-size: 1.9vh;
  & tbody {
    font-size: 0.8em;
    line-height: 1.2;
    border-collapse: collapse;
  }
  & tr:hover {
    background-color: bisque;
  }
  & .rowLabel {
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
  }

  & .playerName {
    white-space: normal;
    font-weight: bold;
    width: 4.5em;
    vertical-align: bottom;
  }

  & .summaryValue {
    text-align: center;
    position: relative;
  }
  & td.best {
    background-color: #7eff7e;
  }
  & td.worst:not(.best) {
    background-color: #ff7e7e;
  }
  & td.favourite:not(.best) {
    background-color: #ceff7e;
  }
  & .teamColumn {
    border-left: grey 1px dashed;
    background-color: #d0d0d0;
    &.playerName {
      background-color: initial;
      background-image: linear-gradient(#d0d0d060, #d0d0d0);
    }
  }
}
