@import "./base.css";
@import "./game.css";
@import "./game27.css";
@import "./ingameEntry.css";
@import "./summary.css";
@import "./history.css";

@import "vue-select/dist/vue-select.css";

#app {
  /* max-width: 100%; */
  margin: 0 auto;
  padding-top: 0px;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-around;
    padding: 0 2rem;
  }
} */

span.spinner {
  display: inline-block;
  margin: auto;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  border: 0.215em solid transparent;
  vertical-align: middle;
  font-size: 16px;
  border-top-color: var(--color-text);
  animation: spin 1s cubic-bezier(0.55, 0.15, 0.45, 0.85) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-in-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  40% {
    opacity: 0.2;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
