table#gameSummaryTable {
  & tbody {
    font-size: 1.3vb;
  }
  & tr:hover {
    background-color: bisque;
  }
  & .rowLabel {
    font-weight: bold;
    text-align: right;
  }

  & .playerName {
    white-space: normal;
    font-weight: bold;
    width: 4.5em;
    vertical-align: bottom;
  }
  &.hasDeltas .playerName {
    width: 7em; /*4.5em;*/
  }

  & .summaryValue {
    text-align: center;
    position: relative;
  }
  & .summaryDeltaValue {
    font-size: 0.8em;
    /* vertical-align: calc(1em / 20); */
    padding-left: 0.5ch;
    position: absolute;
    top: 15%;
  }
  & .summaryDeltaValue.better {
    color: green;
  }
  & .summaryDeltaValue.worse {
    color: red;
  }
  & .summaryDeltaValue.neutral {
    color: blue;
  }
  & td.best {
    background-color: #7eff7e;
  }
  & td.worst:not(.best) {
    background-color: #ff7e7e;
  }
  & td.favourite:not(.best) {
    background-color: #ceff7e;
  }
}
