table#gameSummaryTable {
  font-size: 1.8vh;
  border-collapse: collapse;
  & tbody {
    font-size: 0.8em;
    line-height: 1.2;
  }
  & tbody tr:hover {
    background-color: var(--colour-table-hover);
  }

  & .rowLabel {
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
  }

  & tr.expandableRow > th::before {
    position: absolute;
    left: 5px;
    content: "−";
    font-weight: bold;
    color: blue;
  }
  & tr.expandableRow:not(.parentRow) > th::before {
    content: "+";
  }
  & tr.parentRow {
    background-color: var(--colour-table-hover);
  }
  & tr.childRow {
    font-size: 0.8em;
    border-collapse: collapse;

    & th,
    tr {
      border-width: 0px;
    }

    & .rowLabel {
      font-weight: normal;
      &::before {
        position: absolute;
        left: 0.3em;
        font-size: small;
        content: "├";
        color: blue;
      }
    }
  }
  & tr.childRow:has(+ tr:not(.childRow)) {
    & .rowLabel::before {
      content: "└";
    }
    & th,
    td {
      border-bottom: grey 0.5px dotted;
    }
  }
  & tr.primaryChildRow .rowLabel {
    text-decoration: underline;
    font-weight: bold;
  }

  & .playerName {
    white-space: normal;
    font-weight: bold;
    width: 4.5em;
    vertical-align: bottom;
  }
  &.hasDeltas.hasValues .playerName {
    width: 7em; /*4.5em;*/
  }

  & .summaryValue {
    text-align: center;
    position: relative;
  }
  & .summaryDeltaValue {
    font-size: 0.8em;
    /* vertical-align: calc(1em / 20); */
    padding-left: 0.5ch;
    top: 15%;
  }
  & .summaryDeltaValue:not(.nonAbsSummaryDelta) {
    position: absolute;
  }
  & .summaryDeltaValue.better {
    color: green;
  }
  & .summaryDeltaValue.worse {
    color: red;
  }
  & .summaryDeltaValue.neutral {
    color: blue;
  }
  & td.best {
    background-color: #7eff7e;
  }
  & td.worst:not(.best) {
    background-color: #ff7e7e;
  }
  & td.favourite:not(.best) {
    background-color: #ceff7e;
  }
  & tr[data-summary-row^="round"]:not(.childRow) {
    font-size: 0.9em;
  }
  & tr:not([data-summary-row^="round"]) + tr[data-summary-row^="round"] {
    & th,
    & td {
      border-top: darkgray 1px dashed;
    }
  }
}
